@import "~antd/dist/antd.css";

body {
  padding: 0 5%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

#Question-markr {
  transform-box: fill-box;
  transform-origin: top;
}

@media (prefers-reduced-motion: no-preference) {
  #Question-markr {
    animation: Question-mark-hang infinite 3s alternate-reverse;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Question-mark-hang {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}
